.one{
    width: 100%;
    height: 46px;
}
.two{
    display: flex;
    width: 100%;
    height: 158px;
    background-image: url('../../asses/hdpi/evaluation_background.png');
    background-color: red;
    background-size: 100%;
}
.tw1{
    width: 55px;
    height: 55px;
    margin-left: 43%;
    margin-top: 8%;
}
.tw4{
    width: 100%;
    height: 100%;
}
.tw2{
    width: 100%;
}
.tw4 dd{
    line-height: 60px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}
.thr{
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #f2f2f2;
}
.th1{
    margin-left: 16%;
    line-height: 50px;
}
.for{
    width: 100%;
    height: 333px;
}
.fo1{
    display: flex;
    width: 100%;
    height: 111px;
    border-bottom: 1px solid #f2f2f2;
}
.fo2{
    display: flex;
    width: 100%;
    height: 111px;
    border-bottom: 1px solid #f2f2f2;
}
.fo3{
    display: flex;
    width: 100%;
    height: 111px;
    border-bottom: 1px solid #f2f2f2;
}
.fo4{
    width: 30%;
    height: 100%;
}
.t1{
    width: 110px;
    margin-left: 5%;
}
.fo5{
    width: 70%;
    height: 100%;
}
.fo6{
    font-size: 14px;
    margin-left: 10px;
    line-height: 35px;
    color: #333;
}
.fo7{
    font-size: 12px;
    margin-left: 10px;
    line-height: 8px;
    color: red;
}
.fo8{
    width: 70px;
    height: 30px;
    margin-left: 70%;
    margin-top: 30px;
    border: 1px solid #3087EA;
    background-color: #3087EA;
    color: #fff;
    border-radius: 5px;
}
.fo9{
    width: 90%;
    height: 30px;
    margin-top: 20px;
    margin-left: 5%;
    border: 1px solid #3087EA;
    background-color: #3087EA;
    color: #fff;
    border-radius: 5px;
}