.docter {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.docter .conditionList {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  font-size: 18px;
}

.docter .conditionList .active {
  color: skyblue;
}

.docter .content {
  flex: 1;
  margin-left: 1.53333rem;
}

.docter .page {
  display: flex;
  align-items: center;
}

.docter .page .swiper {
  display: flex;
  flex: 1;
}

.docter .page .swiper .dl {
  width: 33.3%;
  padding: 4px;
  text-align: center;
}

.docter .page .swiper .dl img {
  width: 100%;
}

.docter .page .swiper .dl .dd {
  background-color: #ccc;
  color: white;
}

.docter .page .swiper .dl .dd.active {
  background-color: skyblue;
}

.docter .docterList {
  width: 100%;
  height: 4.6667rem;
  display: flex;
  overflow: hidden;
  overflow-x: auto;
}

.docter .docterList .image {
  width: 3.66667rem;
  height: 3.66667rem;
}
