.docter {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .conditionList {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    font-size: 14px;

    .active {
      color: #ccc;
    }
  }

  .content {
    flex: 1;
    text-align: center;
  }
  .page {
    display: flex;
    align-items: center;
    .swiper {
      display: flex;
      flex: 1;
      .dl {
        width: 33.3%;
        padding: 4px;
        text-align: center;
        img {
          width: 100%;
        }

        .dd {
          background-color: #ccc;
          color: white;
          margin-top: -19px;
          position: relative;
          &.active {
            background-color: teal;
          }
        }
      }
    }
  }
}
.xx{
    width: 273px;
    height: 80px;
    background-color:white;
    margin-top: -83px;
    position: relative;
    margin-left: 51px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}
.Hbi{
  float: left;
  width: 200px;
  border: 1px solid #f4f4f4;
  display: flex;
  line-height: 50px;
  height:50px;
  margin-left: 51px;
}
.zi{
  width: 73px;
  height: 50px;
  font-size: 15px;
  display: flex;
  border: 1px solid rgb(0, 153, 255);
  line-height: 50px;
  font-weight: 600;
  background-color: rgb(0, 153, 255);
  color: #fff;
}
.dian{
  float: right;
}