*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.video_box{
    height: 100vh;
    background: url('../../../xxhdpi/th.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.top img{
    position: fixed;
    top: 0;
    right: 5%;
    color: #fff;
}

.right{
    position: fixed;
    top: 50%;
    right: 4%;
}

.right .image img{
    width: 35px;
    height: 35px;
}

.right .image2 img{
    width: 35px;
    height: 35px;
    margin-top: 20px;
}

.right .image3 img{
    width: 35px;
    height: 20px;
    margin-top: 20px;
}

.right .image4{
    margin-top: 20px;
}

.right .image4 span{
    font-size: 12px;
    color: #fff;
    padding-top: 20px;
}

.content{
    position: fixed;
    bottom: 5%;
    left: 2%;
    color: #fff;
}

.content p{
    font-size: 13px;
    margin-top: 5px;
}

.content .title{
    display: flex;
    justify-content: space-between;
}

.content button{
    width: 155px;
    height: 28px;
    line-height: 28px;
    border-radius: 20px;
    font-size: 12px;
    border: none;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}

.content button span{
    color: red;
}

.progress{
    margin-top: 15px;
}

.icon{
    position: fixed;
    bottom: 0%;
    left: 45%;
    color: #fff;
    margin-top: 10px;
}

.icon .svg{
    color: #fff;
}

.popup img{
    width: 80px;
    height: 80px;
    margin-top: 38px;
    margin-left: 145px;
}

.popup h4{
    text-align: center;
    color: red;
    margin-top: 10px;
}

.popup p{
    margin-top: 40px;
    text-align: center;
}

.popup p span{
    color: #3087ea;
    font-weight: bolder;
}

.popup button{
    width: 300px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #3087ea;
    background-color: #3087ea;
    color: #fff;
    margin-left: 35px;
    margin-top: 15px;
}

