* {
  padding: 0;
  margin: 0;
  list-style: none;
}

.loginBox1 {
  background: #3087ea;
  height: 100vh;
}

.logo {
  width: 80px;
  height: 64px;
  margin: 46px 155px 60px 150px;
}

.box1 {
  background: #fff;
  border-radius: 5px;
  width: 316px;
  height: 258px;
  padding: 30px;
  position: fixed;
  margin-left: 6.5%;
  z-index: 1;
}

.box3 {
  background: rgba(255, 255, 255, 0.612);
  border-radius: 5px;
  width: 315px;
  height: 257px;
  /* margin-left: 5%; */
  position: fixed;
  left: 8%;
  top: 28%;
  /* margin-top: 5px; */
}

.boxItem1 {
  display: flex;
  height: 40px;
}

.btn {
  margin-top: 50px;
}
