.box {
  position: relative;
  height: 500px;
  width: 300px;
  overflow-y: scroll;
  font-size: 30px;
}
.scrollBar {
  height: 0;
}
ul {
  position: absolute;
  top: 0;
  left: 0;
}
li {
  line-height: 80px;
}