.box {
  padding: 0 10px;
}

.box .dl {
  display: flex;
}

.box .dl .img {
  width: 4.66667rem;
  height: 200px;
  padding: 0 10px 0 0;
}

.box .dl .img1 {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
}

.box .dl .dd {
  font-size: 16px;
  margin-top: 10px;
}

.box .dl .dd b {
  font-size: 18px;
}

.box .dl .dd .p {
  margin-top: 15px;
}

.box .jj {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-top: 10px;
}

.box .jj .spantwo {
  border: 2px solid #00f;
  height: 0.65rem;
}

.box .jj .ptwo {
  padding: 0 0 0 10px;
}

.box .grjj .pthr {
  margin-top: 10px;
}

.box .pj {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-top: 10px;
}

.box .pj .spanthr {
  border: 2px solid #00f;
  height: 0.65rem;
}

.box .pj .pfiv {
  padding: 0 0 0 10px;
}

.pjpj {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.pjpj .headerX {
  display: flex;
  align-items: center;
}

.pjpj .headerX .head {
  width: 30px;
  height: 30px;
}

.pjlist {
  margin-top: 10px;
}
