.slide {
  width: 80px;
  height: 52px;
  display: block;
  margin: 80px auto 15px;
}

.text {
  font-size: 12px;
  color: var(--white-base);
  text-align: center;
}

.confirm {
  width: 86px;
  height: 46px;
  display: block;
  margin: 67px auto 0;
}
