.left,
.right {
  margin: 10px 0;
  padding: 0 10px;
  display: flex;
  .avtor {
    flex-shrink: 0;
  }
  .concent {
    margin-left: 10px;
    .text {
      background-color: skyblue;
      padding: 10px;
      color: white;
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        left: -20px;
        top: 0;
        border-width: 10px;
        border-style: dashed solid dashed dashed;
        border-color: transparent skyblue transparent transparent;
      }
    }
    .img {
      width: 100%;
      height: 100%;
    }
    .video {
      width: 100%;
      height: 100%;
    }
  }
  &.right {
    flex-direction: row-reverse;
    margin: 0 10px;
    padding: 10px 0;
    .concent {
      margin-right: 10px;
      .text {
        background-color: skyblue;
        padding: 10px;
        color: white;
        position: relative;
        &::after {
          content: "";
          display: block;
          position: absolute;
          left: 100%;
          top: 0;
          border-width: 10px;
          border-style: dashed solid dashed dashed;
          border-color: transparent transparent transparent skyblue;
        }
      }
      .img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
