* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
.liao {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  header,
  footer {
    height: 79.98px;
    border-bottom: 1px solid #ccc;
  }
  footer{
    height: 50px;
    background-color: white;
    border-top: 1px solid #ccc;
  }
  main {
    flex: 1;
    height: 100%;
    overflow-y: scroll;
    ::-webkit-scrollbar {
      display: none;
    }
    .list {
      padding: 20px;
      background-color: #fff;
    }
  }
}
