.doctorList {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.doctorList .header {
  height: 60px;
}

.doctorList .conditionList {
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  font-weight: bold;
}

.doctorList .conditionList .active {
  color: red;
  border-bottom: 3px solid red;
}

.doctorList .concent {
  flex: 1;
  padding: 0 50px;
}

.doctorList .concent .fristadd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  line-height: 20px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.doctorList .concent .fristadd div .div {
  display: flex;
}

.doctorList .concent .fristadd div .div span {
  padding-left: 50px;
}

.doctorList .concent .fristadd div p span:nth-child(2) {
  margin-left: 10px;
}

.doctorList .concent .twoadd {
  display: flex;
}

.doctorList .concent .twoadd p {
  width: 70%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.doctorList .concent .twoadd p:nth-child(1) {
  background-color: white;
}

.doctorList .concent .twoadd p:nth-child(2) {
  width: 30%;
  background-color: #3087ea;
}

.doctorList .page {
  display: flex;
  align-items: center;
}

.doctorList .page .swiper {
  display: flex;
  justify-content: center;
}

.doctorList .page .swiper .dl {
  text-align: center;
  padding: 3px;
}

.doctorList .page .swiper .dl .dd {
  background-color: #999999;
  color: white;
}

.doctorList .page .swiper .dl .dd.active {
  background-color: #3087ea;
}
