.headerleft {
  width: 32px;
  height: 32px;
  margin-left: 12px;
  margin-top: 12px;
}

.inp1 {
  width: 260px;
  height: 32px;
  border-radius: 16px;
  margin-left: 12px;
  border: 1px solid #ccc;
  position: absolute;
  top: 12px;
}

.headerright {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 12px;
  margin-top: 12px;
}

.demo_swiper {
  width: 375px;
  height: 220px;
}

.demo_swiper .banners {
  width: 100%;
  height: 220px;
}

.zhishi {
  display: flex;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #eee;
}

.zhishi p {
  width: 10px;
  height: 20px;
  margin-left: 12px;
  border-left: 2px solid #3087ea;
  margin-top: 0.36667rem;
}

.zhishi span {
  color: #3087ea;
  font-size: 16px;
  margin-top: 14px;
}

.menus {
  display: flex;
  background-color: #eee;
}

.left {
  width: 342px;
  height: 221px;
  background-color: #fff;
  padding: 10px;
}

.left img {
  width: 100%;
  height: 185px;
}

.left p {
  color: #4d4d4d;
  font-size: 14px;
}

.right {
  width: 342px;
  height: 221px;
  background-color: #fff;
  padding: 10px;
  margin-left: 6px;
}

.right img {
  width: 100%;
  height: 185px;
}

.right p {
  color: #4d4d4d;
  font-size: 14px;
}

.wenzhen {
  display: flex;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #eee;
  border-top: 4px solid #eee;
}

.wenzhen .p {
  width: 10px;
  height: 20px;
  margin-left: 12px;
  border-left: 2px solid #3087ea;
  margin-top: 0.36667rem;
}

.wenzhen .span {
  color: #3087ea;
  font-size: 16px;
  margin-top: 14px;
}

.menu {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.menu dl {
  width: 70px;
  height: 70px;
  margin-left: 15px;
  text-align: center;
}

.menu dl dt {
  width: 70px;
  height: 70px;
}

.menu dl dt img {
  width: 50px;
  height: 50px;
}

.menu dl dd {
  margin-left: 0px;
}

.his {
  display: flex;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #eee;
  border-top: 4px solid #eee;
  margin-top: 40px;
}

.his .p {
  width: 10px;
  height: 20px;
  margin-left: 12px;
  border-left: 2px solid #3087ea;
  margin-top: 0.36667rem;
}

.his .span {
  color: #3087ea;
  font-size: 16px;
  margin-top: 14px;
}

.dhisswiper {
  width: 360px;
  height: 160px;
}

.hisswiper .banners {
  width: 100%;
  height: 160px;
}

.hiszixun {
  display: flex;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #eee;
  border-top: 4px solid #eee;
}

.hiszixun .p {
  width: 10px;
  height: 20px;
  margin-left: 12px;
  border-left: 2px solid #3087ea;
  margin-top: 0.36667rem;
}

.hiszixun .span {
  color: #3087ea;
  font-size: 16px;
  margin-top: 14px;
}

.hiszixun .banners {
  width: 360px;
  height: 160px;
}

.bul {
  height: 80px;
  padding: 0 10px 10px 12px;
  margin-top: 50px;
}

.bul dl {
  display: flex;
  margin-top: 20px;
}

.bul dd {
  margin-top: -33px;
  margin-left: 10px;
}

.bul img {
  width: 100px;
  height: 100px;
  margin-top: -20px;
}

.bul .ddchildren {
  color: #ccc;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.write {
  width: 100%;
  height: 200px;
}

.write .img2 {
  width: 100px;
  height: 100px;
}

.write .imgbox {
  display: flex;
  justify-content: space-between;
  padding: 0 12px 0 12px;
}

.fen {
  width: 100%;
  height: 12px;
}

.bul2 {
  height: 80px;
  padding: 12px 10px 10px 12px;
  border-bottom: 1px solid #ccc;
}

.bul2 dl {
  display: flex;
}

.bul2 dd {
  margin-top: -33px;
  margin-left: 10px;
}

.bul2 img {
  width: 100px;
  height: 88px;
  margin-top: -20px;
}

.bul2 .ddchildren {
  color: #ccc;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.foot {
  width: 100%;
  height: 40px;
  border-top: 1px solid #ccc;
}

.foot p {
  margin-top: 10px;
  padding: 0 12px 0 12px;
}

.footchild {
  display: flex;
  justify-content: space-between;
  color: #ccc;
  font-size: 14px;
}

.footchild span {
  padding: 0 12px 0 12px;
}

.bul3 {
  height: 80px;
  padding: 12px 10px 10px 12px;
  border-bottom: 1px solid #ccc;
  margin-top: 30px;
  border-top: 1px solid #ccc;
}

.bul3 dl {
  display: flex;
}

.bul3 dd {
  margin-top: -33px;
  margin-left: 10px;
}

.bul3 img {
  width: 100px;
  height: 88px;
  margin-top: -20px;
}

.bul3 .ddchildren {
  color: #ccc;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
}

.title span.active {
  color: skyblue;
}
