.for{
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;
}
.one{
    width: 100%;
    height: 46px;
    background-color: #ccc;
    float: left;
}
.two{
    float: left;
    width: 100%;
    height: 40px;
    background-color: #fff;
}
.thr{
    width: 100%;
    height: 100%;
    padding: 0 0 0 20px;
}